<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备类型</title>
</head>
<body>
        <table border = 1 class="gridtable">
            <thead>
            <tr>
                <th>序号</th>
                <th>设备类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for dev in device %}
                <tr>
                    <td>{{ dev.id}}</td>
                    <td><a href="/publisher_book/{{ dev.pk }}">{{ dev.device }}</a></td>
                    <td>
                        <a href="/delpublisher/{{ dev.pk }}" class="btn btn-danger" >删除</a>
                        <a href="/editpublisher/{{ dev.pk }}" class="btn btn-success" >编辑</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
</body>
</html>