<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div>
    <a onclick="window.location.href='/user/info/'" class="button">设备列表</a>
    <a onclick="window.location.href='/user/hostAdd/'" class="button">设备新增</a>
    <a onclick="window.location.href='/user/deviceadd/'" class="button">设备类型新增</a>
    <a onclick="window.location.href='/user/insadd/'" class="button">巡检组</a>
    <a onclick="window.location.href='/user/insHost/'" class="button">巡检结果</a>
</div>
</body>
</html>