<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>巡检组</title>
</head>
<body>
        <table border = 1 class="gridtable">
            <thead>
            <tr>
                <th>序号</th>
                <th>设备类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for insg in insinfo %}
                <tr>
                    <td>{{ insg.id}}</td>
                    <td><a href="/publisher_book/{{ insg.pk }}">{{ insg.InsGroupName }}</a></td>
                    <td>
                        <a href="/delpublisher/{{ insg.pk }}" class="btn btn-danger" >删除</a>
                        <a href="/editpublisher/{{ insg.pk }}" class="btn btn-success" >编辑</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
</body>
</html>